/* RESET CSS */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
/* ------------------------ */

#css-zen-garden {
    background-color: #FFFFFF;
}

a:hover, a:active {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #FFFFFF;
}

a:visited {
    color: #FACD56;
    font-weight: bolder;
}

a:link {
    color: #FACD56;
    font-weight: bolder;
    text-decoration: none;
    margin-left: 10px;
}

.preamble {
    height: 207px;
    top: 330px;
    left: 334px;
    position: absolute;
    text-decoration: none;
    width: 355px;
    z-index: 2;
    color: #559999;
    font-size: 2em;
}

.preamble>span{
    text-decoration:underline;
    font-size: 1.4em;
}

.page-wrapper {
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 765px;
}

.sidebar {
    background: url("img/final.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    font-size: 12px;
    height: 800px;
    left: -10px;
    position: absolute;
    right: 0;
    top: 244px;
    width: 778px;
    z-index: 1;
}


header h1 {
    background-image: url("img/title.gif");
    height: 245px;
}

.summary div{
    left: 158px;
    position: relative;
    text-align: center;
    width: 216px;
    z-index: 3;
    width: 118px;
    color: #FDDE8F;
    font-size: 2em;
}

.extra1 {
    background-image: url("img/background2.gif");
    float: right;
    height: 607px;
    width: 345px;
    z-index: 0;
}

ul, li{
    margin-top: 20px;
    margin-left: 20px;
}